body {
  background-color:#EEE0CB;
}
	h1{

		color:#FF6F59;
		text-decoration:underline;
		font-size: 7em;
		text-align:center;
		font-family: 'Pacifico', cursive;

	}
		h2{
		color:#45425A;
		font-size: 1em;
		text-align:right;
		font-family: 'Pacifico', cursive;
	}
		p{
		color:#69A2B0;
		font-size: 2em;
		text-align:center;
font-family: 'Staatliches', cursive;

}
		.one{
		color:#45425A;
		font-size: 9em;
font-family: 'Indie Flower', cursive;
	
	}
			.fun{
		color:#70AE6E;
		font-size: 4em;
		text-align:center;
	font-family: 'Pacifico', cursive;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
img {
  width: 30%;
  height: auto;
  align-content: center;
}